.cards{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.card{
    /* position: relative;
    width: 800px;
    padding: 20px;
    max-width: 85vw;
    height: 70vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center; */

    position: fixed;
    max-width: 85vw;
    
    width: 800px;
    height: 80vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(22px);
    border-style: solid;
    margin: -20px -5px -5px -5px;
    
}


.swipe{
    position: absolute;
    max-width: 85vw;
    
    width: 780px;
    height: 78vh;
    
    overflow: hidden;
    border-radius: 40px;
}

.image{
    width: 800px;
    height: 70vh;
    user-select: none;
}

.content{
    color: white;
    z-index: 9999;

    /* position: absolute;
    width: 500px; */
    /* padding: 100px; */
    text-align: center;
}

.bio {
    max-height: 100px; /* Adjust this value as needed */
    margin-top: -150px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: '90%'; 
    margin-left: 100px;
    max-width: 600px;
    overflow: auto;
    color: white; /* Set the text color to white */
    text-shadow: 

      -0.7px -0.7px 0 black,  
       0.7px -0.7px 0 black,
      -0.7px  0.7px 0 black,
       0.7px  0.7px 0 black;
    word-spacing: 1px;
    font-weight: 440;

    /* Other styles to fit your design */
  }


  .match_percent {
    width: 800px; /* Example width */
    margin-top: -10px;
    color: white; /* Set the text color to white */
    text-shadow: 

      -0.7px -0.7px 0 black,  
       0.7px -0.7px 0 black,
      -0.7px  0.7px 0 black,
       0.7px  0.7px 0 black;

    /* Other styles to fit your design */
  }

  .age {
    text-shadow: 
    -0.7px -0.7px 0 black,  
    0.7px -0.7px 0 black,
   -0.7px  0.7px 0 black,
    0.7px  0.7px 0 black;
  }

  .name {
    text-shadow: 
    -0.7px -0.7px 0 black,  
    0.7px -0.7px 0 black,
   -0.7px  0.7px 0 black,
    0.7px  0.7px 0 black;
  }

/* .card > h3 {
    position: fixed;
    color: black;
    text-align: center;
    filter: blur(0px);
} */