.chatScreen {
    padding-bottom: 60px;
}

.chatScreen__message {
    display: flex;
    align-items: center;
    padding: 15px;
}
.chatScreen__text {
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.chatScreen__timestamp {
    text-align: center;
    padding: 20px;
    color: gray;
}

.chatScreen__textUser {
    margin-left: auto;
    background-color: #29b3cd;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.chatScreen__input {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}

.chatScreen_inputField {
    flex: 1;
    padding: 15px;
    border: none;
}

.chatScreen__inputButton {
    border: none;
    margin-right: 30px;
    background-color: white;
    font-weight: bolder;
    font-size: 18px;
    color: black;
}

.chatScreen__inputButton:hover {
    color: grey;
    cursor: pointer;
}

.goBackToChatList {
    position: absolute; 
    left: 15px; 
    top: 120px; 
    background: transparent;
    border: none; 
    color: black; 
    font-size: 50px;
    font-weight: bold;
    padding: 10px 20px; 
    display: flex;
    align-items: center; 
  }

  .goBackToChatList:hover {
    color: grey;
    cursor: pointer;
}