.overlay {

    
    display: flex; /* Use flexbox to center children */
    justify-content: center; /* Center horizontally */
    align-items:flex-end; /* Center vertically */
    text-align: center; /*Center text for any inline elements or text inside divs */

    position: absolute; /* Makes overlay cover the entire body */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(250, 170, 248, 0.622) 0%,
        rgba(0,0,0,0) 100%
    ), url('/src/images/blindy4.png') no-repeat center center fixed; /* Centers the background image and prevents repeating */
    background-size: 100% auto; /* Ensures the image covers the entire element */
    
}
.primary-button{
    position: absolute;
}
.home-h1{
    font-size: 80px;
    font-weight: 700;
    color: black;
    position: absolute;
    top: 20vh; /* Center vertically */
    left: 50vw; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to true center */
    height: 35vh;
}

.text1{
    position: absolute; /* or 'relative' to a positioned container */
    font-size: 5vmin; /* Scales with the viewport, adjust as needed */
    top: 20vh; /* Position the element in relation to the heart's position */
    left: 50vw; /* Adjust 'top' and 'left' as needed */
    transform: translate(-50%, -50%); /* Center `h2` on the specified point */
    color: black;
}
.primary-button {
    background-color: white; /* Button background color */
    color: black; /* Text color */
    border: 1px solid black; /* Remove button border */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px 15px; /* Add some padding around the text */
    font-size: 3vmin; /* Adjust font size */
    position: absolute;
    top: 65vh;
    left: 50vw;
    transform: translate(-50%, -50%); /* Center `h2` on the specified point */
    transition: background-color 0.3s ease-in-out;

    
}

/* Add a hover effect for the button */
.primary-button:hover {
    background-color: rgb(190, 190, 190); /* Change background color on hover */
    cursor: pointer;
}
.error-popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    top: 40%;

}

.about-button{

    position: fixed; /* Or absolute, depending on your layout */
    right: 50px; /* Distance from the right edge */
    top: 25px; /* Distance from the bottom */
    background: none; /* Removes the default background */
    border: none; /* Removes the default border */
    color: black; /* Or any color you prefer for the text */
    font-size: 18px;

}

.about-button:hover{
    background-color: transparent;
    color: grey;
    cursor: pointer;
}

.googleicon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 4.5px;
    right: 5.5px;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}