.goToChatButton {
    height:40px;
    width: 40px;
}

.chatButtonContainer{
    position: relative;
}

.notificationCount{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: "25px";
    height: "25px";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.goToChatButton:hover {
    background-color: grey; 
}

.goToChatButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0,123,255,0.5); 
}