.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    position: relative;
    
    padding: 1.5em;
    margin-bottom: 1em;
    background-color: rgb(219, 203, 234);
    color: #000000;
    
}

.header-group {
    display: flex;
    align-items: center;
    
}


.profile-header{
    margin-top: 0px; 
    margin-bottom: 0px;
    color: #000000;
}

.logoImage {
    width: 40px; 
    margin-right: 10px; 
    margin-top: 0px; 
    margin-bottom: 0px;
    float: left; 
}

.logo{
    display: flex;
  align-items: center;
  padding: 10px;
  /*border-bottom: 1px solid #e0e0e0; */
}

.header_name {
    margin-top: 0px; 
    margin-bottom: 0px;
    color: #000000;
    transition: color 0.2s ease-in-out;
}

.header_name:hover {
    color: grey;
}