.sign-out-btn {
    
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 3vmin;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 5vh;
    right: 10vh;
    

}

.sign-out-btn:hover {
    background-color: grey; 
}

.sign-out-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0,123,255,0.5); 
}